.addTask-main {
  margin-left: 220px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  margin-top: 72px;
  width: 1350px;
}

.addTaskBig {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.requieredField{
  justify-content: flex-start;
}

.buttonsFooter{
  flex-direction: row;
  display: flex;
  gap: 31px;
}

.footerButtonsAddTask span{
  color: red;
}


@media(max-width: 600px){
  .addTaskBig {
    margin-left: -136px !important;
    
  }
}