.board-main {
    margin-left: 328px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    margin-top: 192px;
    width: 72%;
}

.board-heading h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -44px 88px 40px 0px;
    width: 100%;
}

.search-box {
    display: flex;
    justify-content: space-between;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFF;
}

.search-btn {
    display: flex;
}

.search-box:focus-within {
    border: 1px solid #29ABE2;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 20px;
}

.search-svg:hover {
    cursor: pointer;
    background-color: #eeeeee;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.search-svg path {
    fill: #2a3647;
}

.search-svg:active path {
    fill: #29abe2;
    background-color: white;
}

.search-svg:active {
    background-color: white;
}


.addTask-btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}

.addTask-btn:hover {
    background: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.addTask-btn span {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-heading-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.board-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    /* background: ;    <------ Warrum war dieses feld leer, soll etwas hier geschrieben sein         */
}

.column-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15.5px;
}

.column-title span {
    color: #42526E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.column-title img {
    border-radius: 8px;
    border: 2px solid var(--version-2-main-color, #2A3647);
    display: flex;
    width: 16px;
    height: 16px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.column-title img:hover {
    cursor: pointer;
    border-color: #29ABE2;
}

.column-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.placeholder-tasks {
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    display: none;
    /* display none */
}

.placeholder-tasks span {
    color: var(--icon, #A8A8A8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}


.task-small-box {
    display: flex;
    /* width: 252px; */
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    min-width: 200px;
}

.task-small-box:hover {
    cursor: pointer;
}

.todo-column,
.progress-column,
.feedback-column,
.done-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.label-small-box {
    display: flex;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #1FD7C1;
}

.label-small-box span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-small-box-content textarea {
    color: var(--icon, #A8A8A8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
}

.task-small-box-content textarea::-webkit-scrollbar {
    display: none;
}

.task-small-box-content textarea:focus {
    outline: 0;
}

.task-small-box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.task-small-box-content h1 {
    color: var(--version-2-main-color, #2A3647);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
    margin-bottom: 8px;
}

.task-small-box-content p {
    color: var(--icon, #A8A8A8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
    margin-block-start: 0;
    margin-block-end: 0;
}



.drag-area {
    min-height: 1000px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.highlight {
    /* border: 2px dashed #666; */
    border: 1px dashed black;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar {
    position: relative;
    border-radius: 5px;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 8px;
    width: 60%;
}

.progress-bar::before {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 50%; */
    width: calc(var(--width, 50) * 1%);
    max-width: 100%;
    background-color: #4589FF;
    border-radius: 5px;


}

.progress-subtasks {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    width: 100% !important;

}

.counter-subtasks {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.profilBadges-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profil-badges {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil-badges text {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.profil-badges svg {
    margin-right: -8px;
}

/* .priority-icons img {
    position: relative;
    left: 178px;
} */


/* AddTask Form in Board-Page */

.addTaskFormPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;

}

.popupFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.addTaskPopUp {
    background-color: #fff;
    border-radius: 15px;
    color: black;
    width: 78%;
    height: 85%;

    /* transition: width 0.3s;
    transform: translateX(0%); */
}

/* @keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
} */



.addTaskLittle {
    margin-left: 74px !important;
    background: none !important;
    margin-right: 65.75px;
}

.addTaskLeftLittle {
    gap: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 48.25px;
}

.titlePositionLittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    height: 78px;
}

.titlePositionLittle h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    height: 78px;
}

.titlePositionLittle img {
    width: 32px;
    height: 32px;
    margin-right: -40px;
    cursor: pointer;
}

.titleInputAddTaskBoard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formLeftAndRightFlex {
    display: flex;
    width: 100%;
    margin-top: 32px;
}

.titleInputAddTaskBoard label {
    color: #2A3647;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;

}

.titleInputAddTaskBoard p {
    margin: 0;
}

.titleInputAddTaskBoard input {
    display: flex;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    width: auto;
}

.inputTitleAddTask {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}

::placeholder {
    color: var(--Style, #D1D1D1);
}

.requestWarningInputField {
    width: 119px;
    height: 12px;
    color: #FF8190;
    /* font-family: Poppins; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}

.requestWarningInputField {
    margin-top: -4px;
}

.dividerLittle {
    height: 483px;
    width: 1px;
    background-color: #D1D1D1;
    display: block;
}


.addTaskRightLittle {
    gap: 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 48.25px;
}

.titleDescriptionAddTaskBoard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleDescriptionAddTaskBoard label {
    color: #2A3647;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.titleDescriptionAddTaskBoard p {
    margin: 0;
}

.titleDescriptionAddTaskBoard textarea {
    display: flex;
    height: 120px;
    padding: 18px 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
}

.titleSelectContactsAddTaskBoard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleSelectContactsAddTaskBoard label {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.titleSelectContactsAddTaskBoard input {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: url(/img/arrow_drop_down.svg) no-repeat scroll;
    background-position: right;
    width: auto;
}



.titleDateAddTaskBoard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleDateAddTaskBoard label {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.titleDateAddTaskBoard p {
    margin: 0;
}

.titleDateAddTaskBoard input {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    position: relative;
    color: #000;
    width: auto;
}

.titleDateAddTaskBoard input[type=date]:invalid::-webkit-datetime-edit {
    color: var(--Style, #D1D1D1);
}

.titleDateAddTaskBoard input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: 24px;
    bottom: 0;
    margin-right: 16px;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input {
    cursor: pointer;
}

.inputDateAddTask {
    color: var(--Style, #D1D1D1);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.prioSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.titlePrioSection {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.prioButtons {
    display: flex;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    filter: none;
    width: 109px;
    height: 17px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.prioButtonsBox {
    gap: 16px !important;
    display: flex;
}

.prioButtons:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20) !important;
    cursor: pointer;
}

.categorySection {
    display: flex;
    flex-direction: column;
}

.titleCategoryAddTask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleCategoryAddTask label {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.titleCategoryAddTask p {
    margin: 0;
}

.titleCategoryAddTask select {
    padding: 12px 16px;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}

.titleCategoryAddTask option {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-color: #FFF;
}

.subtaskSection {
    display: flex;
    flex-direction: column;
}

.titleSubtaskAddTask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtaskBox {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
}

.subtaskBox input {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
    width: 100%;
}

.subtaskBox input:focus {
    outline: none;
}

.subtaskBox:focus-within {
    border: 2px solid blue;
}

.closeCheckSubstask {
    display: flex;
}


.closeCheckSubstask img:hover {
    background-color: #edebeb;
    border-radius: 50%;
    cursor: pointer;
}

.addedSubstaskList span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: start;
}


.addedSubstaskList ul {
    padding-inline-start: 0px !important;
    height: 10px !important;
    list-style: disc !important;
}

.addedSubstaskList li {
    padding: 3px;
    border-radius: 10px !important;
}

.addedSubstaskList ul li:hover {
    padding: 8px;

}

.editDeleteSubtask {
    display: flex;
}

.confirmEditSubtask {
    display: none;
}


.formFooter {
    display: flex;
        /* margin-top: 64px; */
        /* margin-bottom: 2px !important; */
        position: fixed;
        background: #fff;
        bottom: 120px;
        /* top: 64px; */
        align-items: center;
        justify-content: space-between;
        right: 213px;
        width: 67%;
}



.footerButtonsAddTask {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footerButtonsAddTask button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
}

.footerButtonCreateTask {
    background-color: #2A3647;
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 183px;
    height: 56px;

}

.footerButtonClear {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 126px;
    height: 56px;
    background-color: #FFF;
}

.footerButtonCreateTask:hover {
    background-color: #29ABE2;
    border: none;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.footerButtonClear:hover {
    border: 2px solid #29ABE2;
    cursor: pointer;
    color: #29ABE2;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.20);
}

.footerButtonCreateTask svg:hover {
    fill: #29ABE2;
}



.listSelectableContacts {
    display: flex;
    flex-direction: column;
}

.listSelectableContacts ul {
    padding: 0;
    margin: 0;
}

.listSelectableContacts ul li {
    margin-bottom: 8px;
    border-radius: 10px;
}

.contact-line {
    display: flex;
    align-items: center;
    padding: 9px;
}

.contact-line img {
    margin-right: 5px;
}

.contact-name {
    flex: 1;
    margin-inline-start: 1em;
}

.contact-line text {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.listSelectableContacts ul {
    list-style: none;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;

    .listSelectableContacts li {
        height: 30px;
        background: #ccc;
        border-bottom: black 1px solid;
        padding: 4px;

    }
}


li:hover {
    background-color: rgb(209, 202, 202);
    cursor: pointer;
}

.addedContactsProfilBadges {
    display: flex;
}

.addedContactsProfilBadges text {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}



/* POPUP BIG TASK */

.BigTaskFormPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
}

.BigTaskPopUp {
    max-width: 550px;
    width: 100%;
    max-height: calc(100vh - 0px);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;


}

.BigTaskContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 48px 40px 48px 40px;
}


.label-big-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.label-big-box span {
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background: #1FD7C1;
    padding: 4px 16px;
    border-radius: 8px;
}

.titleAndDescriptionBigBox {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.titleAndDescriptionBigBox h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--black, #000);
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
}

.titleAndDescriptionBigBox p {
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.dueDate {
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.dueDate span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.dueDate p {
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.priorityBigBox {
    display: flex;
    align-items: center;
    gap: 25px;
}

.selectedPriorityBigBox {
    display: flex;
    gap: 10px;
}

.priorityBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.priorityBigBox p {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.assignedBigBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.assignedBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
}

.subtasksBigBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;

}

.subtasksBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
}

.addedSubstaskList {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtaskBigBoxContent {
    display: flex;
    gap: 16px;

}

.subtaskBigBoxContent span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.footerBigBox {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.deleteBigBoxFooter,
.editBigBoxFooter {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.deleteBigBoxFooter span,
.editBigBoxFooter span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}