body {
    display: block;
    overflow: hidden;
    max-width: 100%;
}

.contacts-div {
    display: flex;
    align-items: flex-start;
    padding-left: 243px;
    margin-top: 147px;
    position: relative;
    right: 0;
    height: 100vh;
}

.contacts-container {
    width: 400px;
    min-width: 430px;
    height: 100vh;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    overflow-y: scroll;
    height: calc(100vh - 100px);
    gap: 76px;
}

.add-contacts-btn {
    position: sticky;
    top: 48px;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    background-color: #2a3647;
    color: white;
    font-family: inter;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 99;
    padding: 15px;
    border: none;
}

.add-contacts-btn:hover {
    border: none;
    background-color: #29abe2;
}

.initial-letter {
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    cursor: default;
    margin-left: 31px;
}

.initial {
    position: relative;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #ff7a00;*/
    border: 2px solid white;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-family: inter;
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-right: -8px;
}

.initial-text {
    line-height: 0.5;
    margin: 22px 164px 21px -56px;
    max-width: 86px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}

.line {
    height: 1px;
    background: #D1D1D1;
    margin: 8px 0px 8px;
    font-weight: 400;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap: 96px;
    border-radius: 10px;
    width: 352px;
    height: 78px;
    cursor: pointer;
    overflow: hidden;
}

.contact.clicked {
    background-color: #2a3647;
    color: white;
}

.contact.clicked:hover {
    background-color: #2a3647;
    color: white;
}

.contact:hover {
    background-color: #f6f7f8;
}

.contact-view {
    display: flex;
    flex-direction: column;
    margin-top: -47px;
    position: absolute;
    right: 0px;
    left: 673px;
    height: -webkit-fill-available;
    background-color: #f6f7f8;
    height: 100vh;
}

.contact-header {
    position: relative;
    top: 136px;
    left: 80px;
}

.contact-text {
    display: flex;
    align-items: center;
    margin-top: -96px;
    gap: 36px;
    cursor: default;
}

.text-1 {
    font-family: inter;
    font-size: 61px;
    font-weight: 700;
}

.text-2 {
    font-size: inter;
    font-size: 27px;
    font-weight: 400;
}

.initial-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #ff7a00;*/
    border: 3px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-family: inter;
    font-size: 47px;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
    cursor: default;
}

.name {
    font-family: inter;
    font-size: 47px;
    font-weight: 500;
    cursor: default;
    white-space: nowrap;
}

.edit-del {
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.edit-delete:hover {
    color: #29abe2;
    font-weight: 700;
    filter: invert(35%) sepia(85%) saturate(1500%) hue-rotate(175deg) brightness(100%) contrast(101%);
}

.card {
    display: flex;
    justify-content: flex-start;
    margin-top: 76px;
    align-items: center;
    gap: 51px;
    margin-left: 76px;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    cursor: pointer;
}

.del {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.information {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    left: 86px;
    cursor: default;
}

.info {
    position: relative;
    left: 86px;
    top: 68px;
}

.info-1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    cursor: default;
}

.info-2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.name-div {
    line-height: 0.1;
}

.msg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    bottom: 137px;
    left: 841px;
    width: 312px;
    height: 74px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 16px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    border: none;
}

.contacts-container::-webkit-scrollbar-button:start:decrement {
    background-position: center;
    background-image: url('/img/scroll-up.png');
    width: 10px;
    height: 4px;
}

.contacts-container::-webkit-scrollbar-button:end:increment {
    background-position: center;
    background-image: url('../img/scroll-down.png');
    width: 10px;
    height: 4px;
}

.contacts-container::-webkit-scrollbar {
    display: block;
    width: 8px;
   
}

.contacts-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.contacts-container::-webkit-scrollbar-thumb {
    background-color:#A8A8A8;
    border-radius: 10px;
}

@media (max-width: 1360px) {
    .contact-text {
        flex-direction: column;
        align-items: flex-start;
        margin-left: -70px;
        margin-top: -96px;
        gap: 0px;
        line-height: 0;
    }

    svg {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        align-items: flex-start;
        gap: 0px;
        margin-left: 15px;
    }

    .information {
        left: 15px;
        line-height: 78px;
        top: 498px;

    }

    .info {
        left: 15px;
        top: 5px;
    }

    .name-div {
        position: relative;
        top: -78px;
        line-height: normal;
    }

    .del {
        margin-top: -34px;
        gap: 20px;
    }
}

@media (max-width: 955px) and (min-width: 601px) {

    .contact-header{
  display: none;
}
    .text-1 {
        font-size: 36px;
    }

    .text-2 {
        font-size: 16px;
    }

    .name {
        font-size: 37px;
    }

    .desktop-navbar {
        width: 128px;
    }

    .desktop-navbar-menu {
        align-items: center;
    }

    .contacts-container {
        width: 370px;
        min-width: 370px;
        margin-left: -114px;
        align-items: flex-start;
    }

    .contact-view {
        left: 498px;
    }

    .card{
        margin-top: 1px;
    }

    .information
    {
        
        top: 284px;
      }
}

@media (max-width: 720px) and (min-width: 601px) {
    .contact-view {
        left: 355px;
    }

    .add-contacts-btn
{
  position: sticky;
  top: 48px;
  width: 221px;
  height: 56px;
  border-radius: 10px;
  background-color: #2a3647;
  color: white;
  font-family: inter;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 99;
  padding: 15px;
  border: none;
}

.contact
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  gap: 96px;
  border-radius: 10px;
  width: 221px;
  height: 78px;
  cursor: pointer;
  overflow: hidden;
  font-size: 13px;
}

.contacts-container
{
    width: 247px; !important
    
    margin-left: -114px;
    align-items: flex-start;
  }


}

@media (max-width: 600px) and (min-width: 551px) {
    .desktop-navbar {
        width: 100vw;
    }
    .contacts-div {
        display: flex;
        align-items: flex-start;
        padding-left: 10px;
        margin-top: 147px;
        position: relative;
        right: 0;
        height: 100vh;
    }

    .initial {
        position: relative;
        left: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*background-color: #ff7a00;*/
        border: 2px solid white;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-family: inter;
        font-size: 12px;
        font-weight: 400;
        color: white;
        margin-right: -8px;
    }
}

@media (max-width: 550px) and (min-width: 401px) {
    .contacts-container {
        margin-left: -238px;
    }
    .initial {
        position: relative;
        left: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*background-color: #ff7a00;*/
        border: 2px solid white;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-family: inter;
        font-size: 12px;
        font-weight: 400;
        color: white;
        margin-right: -8px;
    }

   
}

@media (max-width: 400px) and (min-width: 280px) {
    .contact.clicked {
        width: 260px;
    }

    .add-contacts-btn {
        width: 64px;
         height: 64px;
        position: sticky;
        top: 671px;
       right: 10px;
        border-radius: 44px;
        background-color: #2a3647;
        color: white;
        font-family: inter;
        font-size: 21px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        z-index: 99;
        padding: 15px;
        border: none;
        margin-left: 184px;
    }

    .contact {
        width: 260px;
    }

    .add-contacts-btn p {
        display: none;
    }

    
        .contacts-div {
            display: flex;
            align-items: flex-start;
            /* padding-left: 159px; */
            margin-top: 100px;
            position: relative;
            right: 313px;
            height: 100vh;
        }

        .initial {
            position: relative;
            left: -1px;
            display: flex;
            align-items: center;
            justify-content: center;
            /*background-color: #ff7a00;*/
            border: 2px solid white;
            box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-family: inter;
            font-size: 12px;
            font-weight: 400;
            color: white;
            margin-right: -8px;
        }

       

}