html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    height: 100vh;
    margin: 0;
}

.desktop-header {
    height: 10vh;
    min-height: 96px;
    max-height: 96px;
    gap: 34px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    padding-left: 348px;
    position: fixed;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10000000149011612);
    align-items: center;
    z-index: 10;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
}

.logo {
    position: relative;
    top: -105px;
}

.header-text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: center;
    text-align: left;
    line-height: 120.00000476837158%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    font-stretch: normal;
}


.header-user-help a img {
    gap: 16px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    position: absolute;
    right: 50px;
    top: 33px;
}



.user-profil-box {
    display: flex;
    position: relative;
    cursor: pointer;
    right: 20px;
}

.text {
    position: absolute;
    top: 34px;
    left: 360px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 8px;
    background-color: #2a3647;
    border-radius: 20px 0px 20px 20px;
    padding: 30px 16px 0px 16px;
    gap: 30px;
    text-align: center;
    height: 158px;
    width: 150px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    right: 0px;
    z-index: 999;
}

a {
    text-decoration: none;
    color: #cdcdcd;
}

.user-initials {
    position: absolute;
    top: 15px;
    left: 12px;
    color: #29ABE2;
    font-size: 20px;
    font-weight: bold;
}

.desktop-navbar {
    top: 0px;
    left: 0px;
    width: 232px;
    height: 100vh;
    display: flex;
    padding: 64px 0;
    position: fixed;
    z-index: 20;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10000000149011612);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(42, 54, 71, 1);
}

.desktop-navbar-menu {
    gap: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -150px;
}



.menu-links {
    gap: 8px;
    width: 232px;
    height: 46px;
    display: flex;
    padding: 8px 56px;
    overflow: hidden;
    align-items: center;
    opacity: 0.7;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.desktop-navbar-menu a {
    text-decoration: none;
    list-style: none;
}

.menu-links:hover {

    opacity: 1 !important;
    cursor: pointer;
    background-color: rgba(9, 25, 49, 1);
}

.navbar-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 8px;
    align-items: center;
    gap: 8px;
    color: #fff;
    position: relative;
    bottom: 11px;


}



.navbar-footer a {
    text-decoration: none;
    color: #fff;
}

.navbar-footer-links {
    opacity: 0.7;
}

.navbar-footer-links:hover {
    cursor: pointer;
    color: #29ABE2;
    opacity: 1;
    font-weight: bold;
}

@media (max-width: 950px) {
    .menu-links {
        width: 128px;
        font-size: 12px;
        padding: 10px;
    }
}

@media (max-width: 750px) and (min-width: 601px) {
    .header-text span {
        display: none;
    }
}

@media(max-width: 600px) {
    body {
        min-height: 100vh;
    }

    .titleDateAddTaskBoard {
        margin-top: 20px;
    }

    .header-text {
        display: none;
    }

    #LogoImage {
        content: url('/img/LogoWhite1.svg');
        position: absolute;
        width: 50px;
        margin-left: -297px;
        margin-right: 100px;
    }

    .user-help {
        display: none;
    }
   

    .header-user-help {
        margin-left: 140px;
        margin-top: 5px;
    }

    .logo img {
        display: none;
    }

    .desktop-navbar {
        width: 100vw;
        top: auto;
        bottom: 0px;
        height: 1px;
        display: flex;
        padding: 64px 0;
        position: fixed;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10000000149011612);
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(42, 54, 71, 1);
    }

    .menu-links {
        margin-inline-start: 0px;
    }

    .desktop-navbar-menu {
        gap: 64px;
        flex-direction: row;
        justify-content: flex-start;
        position: absolute;
        height: 400px;
        align-items: center;
        height: 93px;
    margin-top: 156px;
    }

    .desktop-navbar-menu a {
        height: 83px;
        width: 60px;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        right: -10px;
        margin-right: 26px;
        margin-top: 28px;
    }

    .desktop-navbar-menu span {
        width: 98px;
        height: 36px;
        margin-bottom: -24px;
        text-align: center;
    }

    #boardImage {
        margin-top: 7px;
    }

    .navbar-footer {
        height: 100px;
        display: none;
    }

    .summary-card-container {}

    .user-initials {
        font-size: 12px;
        position: absolute;
        top: 10px;
        left: 8px
    }

    .user-profil-box {
        height: 34px;
        
    }
}

@media (max-width: 550px) {
    .menu-links {
        margin-inline-start: -34px;
    }

    .desktop-navbar-menu {
        margin-left: 50px;
    }
}

@media (max-width: 400px) {
    .menu-links {
        margin-inline-start: -58px;
        font-size: 10px;
    }

    .desktop-navbar-menu {
        margin-left: 96px;
        gap: 40px;
        height: 93px;
    margin-top: 156px;
    }
}

@media (max-width: 300px) {
    .user-profil-box {
        height: 36px;
        right: 296px;
      }

      #LogoImage {
        content: url('/img/LogoWhite1.svg');
        position: absolute;
        width: 35px;
        margin-left: -333px;
        margin-right: 100px;
      }
}

