.editBigTaskFormPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
}

.editPopUpFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.editBigTaskPopUp {
    max-width: 550px;
    width: 550px;
    max-height: calc(100vh - 0px);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    background-color: white;

}

.editBigTaskContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 48px 40px 0px 40px;
    width: 100%;
}

.editBigTaskPopUpCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.editBigTaskPopUpCloseBtn img {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.editBigTaskPopUpCloseBtn img:hover {
    background-color: rgb(243, 241, 241);
}

.editConfirm {
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-block: 24px;
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 3;
}

.editCheckBtn {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    cursor: pointer;
    border-style: none;
}

.editCheckBtn span {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.editDate {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editDate label {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.editDate p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.editDate input {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    position: relative;
    color: #000;
    width: auto;

}

.editdate input:focus {
    outline: none !important;
    border: 1px solid #FF8190;
}

.editdate input[type=date]:invalid::-webkit-datetime-edit {
    color: var(--Style, #D1D1D1);
}

.editdate input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: 24px;
    bottom: 0;
    margin-right: 16px;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


/* CSS For Edit Form II */

.editTitle img {
    cursor: pointer;
}

.editTitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -64px;
    height: 78px;
}

.editLeftAndRight
{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  gap: 24px;
  width: 534px;
  overflow-x: hidden;
  height: 600px;
}

.editHideDivider {
    display: none;
}

.editLeft {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.editDate {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editDate label {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.editDate p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.editDate input {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    position: relative;
    color: #000;
    width: auto;

}

.editdate input:focus {
    outline: none !important;
    border: 1px solid #FF8190;
}

.editdate input[type="date"]:invalid::-webkit-datetime-edit {
    color: var(--Style, #D1D1D1);
}

.editdate input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: 24px;
    bottom: 0;
    margin-right: 16px;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.editRight {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.editPopUp
{
    overflow: hidden;
  
  max-height: 751px;
  background-color: #fff;
  border-radius: 15px;
  color: black;
  max-width: 633px;
  width: 705px;
}

.editPopUp::-webkit-scrollbar {
    display: none;
}

.editFooter {
    position: sticky;

    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFF;
    width: 546px;
    height: 1px;
}

.footerEditTask {
    padding: 8px;
    background-color: #2A3647;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    top: -340px;
  position: relative;
  top: 790px;
  position: fixed;
  right: 206px;
  margin-right: 172px;
}


@media (max-width:1000px) and (min-width:725px) {
    .editFooter {
        position: sticky;

        bottom: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ffffff;
        width: auto;


    }

    .editPopUp {
        overflow-x: auto;
        max-height: 751px;
        background-color: #fff;
        border-radius: 15px;
        color: black;
        max-width: 633px;
        width: 600px;
    }
}


@media (max-width: 724px) and (min-width:601px) {
    .editFooter {
        position: sticky;

        bottom: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ffffff;
        width: auto;


    }

    .editPopUp {
        overflow-x: auto;
        max-height: 751px;
        background-color: #fff;
        border-radius: 15px;
        color: black;
        max-width: 633px;
        width: 575px;
        overflow: hidden;
    }
}

@media (max-width: 600px) and (min-width:321px) {
    .editFooter {
        position: sticky;

        bottom: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ffffff;
        width: 116px;
    }
        .editLeftAndRight {
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            gap: 24px;
            width: 655px;
            overflow-x: hidden;
        }

        .editPopUp {
            overflow-x: auto;
            max-height: 751px;
            background-color: #fff;
            border-radius: 15px;
            color: black;
            max-width: 633px;
            width: 420px;
        }

        .editLeftAndRight {
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            gap: 24px;
            width: 403px;
            overflow-x: hidden;
        }

        .editPopUp {
            overflow-x: auto;
            max-height: 810px;
            background-color: #fff;
            border-radius: 15px;
            color: black;
            max-width: 709px;
            width: 301px;
            
            overflow: hidden;
            
        }
        .footerEditTask
{
  padding: 8px;
  background-color: #2A3647;
  color: #FFF;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  
  position: relative;
 top: -2px;
  
}



    }

    @media (max-width: 320px) and (min-width:280px) {
        .editFooter {
            position: sticky;
    
            bottom: 0px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #ffffff;
            width: 116px;
            height: 10px;
        }
            .editLeftAndRight {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                gap: 24px;
                width: 655px;
                overflow-x: hidden;
            }
    
            
    
            .editLeftAndRight {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                gap: 24px;
                width: 289px;
    overflow-x: hidden;
            }
    
            .editPopUp {
                overflow-x: auto;
                max-height: 810px;
                background-color: #fff;
                border-radius: 15px;
                color: black;
                max-width: 709px;
                width: 289px;
                overflow-y: auto;
                height: 754px;
                overflow: hidden;
            }
            .footerEditTask
{
  padding: 8px;
  background-color: #2A3647;
  color: #FFF;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  margin-bottom: -41px;
  position: relative;
}
    
    
    
        }
