body{
    background-color: #f6f7f8;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
    
    
}

.helpPageBody{
    height: 100vh;
    width: 1501px;
    margin-left: 325px;
}



.helpPageInstructions{
    margin-top: 200px;
    word-wrap: break-word;
    font-size: 20px;
}


table {
    width: 1470px; /* Set the total width of the table */
    border-collapse: collapse;
    font-size: 20px;
    
}
table h2 {
    
    margin-bottom: 84px;
    font-size: 40px;
    
    
}

table h3 {
    margin: 0;
    
}

table h5 {
    font-size: 40px;
    position: relative;
    bottom: 53px;
   
    
}

table p {
    margin-bottom: 10px;
    top: -11px;
    position: relative;
}

table br {
 
    
}

table a {
    font-size: 22px;
    color: black;
    font-weight: bold;
    position: relative;
    bottom: 4px;
   
    
}

th, td {
    
    height: 50px;
    text-align: left;
}
table span {
    color: rgb(110, 192, 247);
 
    
}

th:nth-child(1), td:nth-child(1) {
    width: 1px; /*width of column 1*/
    text-align: top;
}

th:nth-child(2), td:nth-child(2) {
    width: 500px; /*width of column 2*/
}