header {
    display: flex;
    justify-content: flex-end;
    padding: 78px;
}

.top-container {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f6f7f8;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 274px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 1s ease-in-out;
    transform-origin: top left;
    z-index: 2;
}

body.animate .logo {
    width: 274px;
    top: 80px;
    left: 77px;
    transform: scale(0.36);
}

.not-user {
    font-size: 20px;
    font-family: inter;
    font-weight: 400;
    cursor: default;
    margin: 24px;
}

.sign-in-btn {
    width: 91px;
    height: 49px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    cursor: pointer;
    border: none;
}

.sign-in-btn:hover {
    background-color: rgb(41, 171, 226);
}

.login-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-window {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: auto;
    padding: 48px 115px 20px 115px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    font-size: 61px;
    font-family: inter;
    font-weight: 700;
}

.underscore {
    height: 3px;
    width: 150px;
    background-color: #29abe2;
    border-radius: 5px;
    margin: 16px 0 32px;
}

.inputs {
    margin: 35px;
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    background-color: white;
    border: 1px solid #d1d1d1;
    width: 422px;
    height: auto;
    border-radius: 10px;
    padding: 12px 21px;

}

.icon-1 {
    color: #a8a8a8;
    width: 20px;
    height: 16px;
}

.icon-2 {
    color: #a8a8a8;
    width: 16px;
    height: 21px;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: -16px 40px;
}

.remember-me {
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
    color: #2A3647;
}

.remember-text {
    cursor: default;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
}

.log-in-buttons {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.log-in-btn {
    width: 110px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    cursor: pointer;
    border: none;
    margin: 45px;
    margin-right: 6px;
}

.log-in-btn:hover {
    background-color: rgb(41, 171, 226);
}

.guest-btn {
    width: 177px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    background-color:white;
    color: #2A3647;
    font-family: inter;
    cursor: pointer;
    margin: 45px;
}

.guest-btn:hover {
    color: #29abe2;
    border-color: #29abe2;
}

footer {
    position: absolute;
    bottom: 56px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 56px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-family: inter;
    font-weight: 400;
    color: #a8a8a8;
}

.link:hover {
    color: #29abe2;
    font-weight: bold;
}
