/* POPUP BIG TASK */
.BigTaskFormPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
}

.BigTaskPopUp {
    max-width: 550px;
    width: 550px;
    max-height: calc(100vh - 0px);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    background-color: white;
    overflow-x: hidden;
}

.BigTaskContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 40px 48px 40px;
    width: 100%;
    max-height: 800px;
    overflow: scroll;
    overflow-x: hidden;
}

.label-big-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.label-big-box span {
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* background: #0038FF; */
    padding: 4px 16px;
    border-radius: 8px;
}

.label-big-box img {
    cursor: pointer;
}

.titleAndDescriptionBigBox {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.titleAndDescriptionBigBox h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--black, #000);
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
}

.titleAndDescriptionBigBox p {
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.dueDate {
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.dueDate span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.dueDate p {
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.priorityBigBox {
    display: flex;
    align-items: center;
    gap: 25px;
}

.selectedPriorityBigBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priorityBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.priorityBigBox p {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.assignedBigBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.assignedBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
}

.listSelectableContactsBigBox ul {
    list-style: none;
    max-height: 180px;
    margin: 0;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;


    .listSelectableContacts li {
        height: 30px;
        background: #ccc;
        border-bottom: black 1px solid;
        padding: 4px;
        display: flex;
        flex-direction: column;

    }
}


.contact-line-BigBox {
    display: flex;
    align-items: flex-start;
    padding: 3px;
    flex-direction: column;
}

.contact-line-BigBox span {
    display: flex;
    align-items: center;
}

.contact-badge-container {
    display: flex;
    gap: 12px;
}

.subtasksBigBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;

}

.subtasksBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
}

.addedSubstaskList {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtaskBigBoxContent {
    display: flex;
    gap: 16px;
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.subtaskBigBoxContent:hover {
    cursor: pointer;
    background-color: #e7e1e1;
    border-radius: 8px;

}

.subtaskBigBoxContent span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.subtaskBigBoxContent img {
    padding-left: 8px;
}

.footerBigBox {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    position: sticky;
    bottom: 13px;
    background: #FFF;
}

.deleteBigBoxFooter,
.editBigBoxFooter {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    cursor: pointer;
}

.deleteBigBoxFooter span,
.editBigBoxFooter span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}


/* CSS For Edit Form */

.editTitle h1 {
    display: none;
}

.editTitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
    height: 78px;
}

.editLeftAndRight {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 24px;
}

.editHideDivider {
    display: none;
}

.editLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.editDate {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editDate label {
    display: flex;
    font-size: 21px;
    align-items: center;
}

.editDate p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.editDate input {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: auto;
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;

}

.editRight {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.editPopUp {
    overflow-x: auto;
    max-height: 900px;
    background-color: #fff;
    border-radius: 15px;
    color: black;
    max-width: 550px;
    width: 550px;
}

.editPopUp::-webkit-scrollbar {
    display: none;
}

.editFooter {
    position: sticky;
    height: 100px;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFF;
    width: 100%;
}

.footerEditTask {
    padding: 8px;
    background-color: #2A3647;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}