body{

}

.privacyContent {
    width: 1400px;
    margin-left: 300px;
    height: 100vh;
    margin-top: 150px;
}

.privacyContent h1 {
    margin-bottom: 100px;
}
.privacyContent img {
    position: fixed;
    left: 1655px;
  
}

.backButton :hover{
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(218, 223, 223);
}

@media (max-width: 955px)and (min-width: 601px) {
    .desktop-navbar {
      width: 128px;
    }

    .privacyContent {
        width: 756px;
        margin-left: 147px;
        height: 100vh;
        margin-top: 150px;
      }
      .legalContent span {
       
        height: 136px;
        display: block;
      }
  }

  @media (max-width: 600px)and (min-width: 301px) {
   

    .privacyContent {
        width: 538px;
        margin-left: 12px;
        height: 100vh;
        margin-top: 150px;
      }
      .legalContent span {
       
        height: 136px;
        display: block;
      }
  }

  @media (max-width: 300px){
   

    .privacyContent {
        
        width: 267px;
        margin-left: 12px;
        height: 100vh;
        margin-top: 150px;
      }

      .privacyContent p {
        font-size: 13px;
      }
      .privacyContent h1 {
        font-size: 17px;
      }
      .privacyContent h2 {
        font-size: 13px;
      }
      .privacyContent h3 {
        font-size: 13px;
      }
      .privacyContent h4 {
        font-size: 13px;
      }
      .privacyContent strong {
        font-size: 13px;
      }
      .privacyContent span {
       
        height: 136px;
        display: block;
      }

      .privacyContent a {
            cursor: pointer;
            text-decoration: none;
            color: #6be6f2;
          
      }
  }