header {
    padding: 78px;
}

.top-container {
    display: flex;
    flex-direction: column;
    margin: -68px;
}

body {
    background-color: #f6f7f8;
    height: 100vh;
    margin: 0;
}

.back-arrow {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 120px;
    top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-arrow:hover {
    border-radius: 50%;
    background-color: #f2f2f2ec;
}

.logo {
    width: 100px;
    height: 121px;
    top: 80px;
    left: 77px; 
}

.signup-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-window {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: auto;
    padding: 48px 115px 20px 115px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-headline {
    cursor: default;
    font-size: 61px;
    font-family: inter;
    font-weight: 700;
}

.underscore {
    height: 3px;
    width: 150px;
    background-color: #29abe2;
    border-radius: 5px;
    margin: 16px 0 32px;
}

.inputs {
    margin: 35px;
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    background-color: white;
    border: 1px solid #d1d1d1;
    width: 422px;
    height: auto;
    border-radius: 10px;
    padding: 12px 21px;

}

.icon-1 {
    color: #a8a8a8;
    width: 20px;
    height: 16px;
}

.icon-2 {
    color: #a8a8a8;
    width: 16px;
    height: 21px;
}

.i-accept {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
    color: #2A3647;
}

.accept {
    cursor: default;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
}

.signup-button {
    padding: 16px;
}

.policy {
    text-decoration: none;
    font-size: 16px;
    font-family: inter;
    font-weight: 400;
    color: #29abe2;
}

.policy:hover {
    cursor: pointer;
    text-decoration: underline;
}

.signup-btn {
    width: 110px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    cursor: pointer;
    border: none;
    margin: 45px;
    margin-right: 6px;
}

.signup-btn:hover {
    background-color: rgb(41, 171, 226);
}

footer {
    position: absolute;
    bottom: 56px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 56px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-family: inter;
    font-weight: 400;
    color: #a8a8a8;
}

.link:hover {
    color: #29abe2;
    font-weight: bold;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    bottom: 324px;
    width: 312px;
    height: 74px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 16px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    border: none;
}