<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="/css/addTask.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/css/desktop_template.css">
    <link rel="icon" href="/img/logo1.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/css/desktop_template.css">
    
    
   
    
    <link rel="stylesheet" href="/css/popUpBigTaskInBoardPage.css">
    <link rel="stylesheet" href="/css/taskSmallBoxInBoardPage.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/css/newContacts.css">


    <script src="/js/w3IncludeHtml.js" defer></script>
    <script src="/js/storage.js" defer></script>
    <!-- <script src="/js/main.js" defer></script> -->
    <script src="/js/summary.js" defer></script>
    <script src="/js/boardHtmlTemplates.js" defer></script>
    <!-- <script src="/js/w3IncludeHtml.js" defer></script> -->
    <script src="/js/board.js" defer></script>
    <script src="/js/subtasksInAddTaskBoardPage.js" defer></script>
    <script src="/js/contactListAddTaskInBoardPage.js" defer></script>
    <script src="/js/contacts.js" defer></script>

    <script src="/js/addTask.js" defer></script>
    <script src="/js/popUpBigTaskInBoard.js" defer></script>

    <script src="/js/editTaskInBoard.js" defer></script>

    <script src="/js/main.js" defer></script>


    <title>Add Task</title>

</head>

<body onload="init()">

    <div w3-include-html="/template/desktop_template.html"></div>

    


      <div class="addTask-main">


        <form class="addTaskPopUp" onsubmit="handleFormSubmit(event)">
            <div class="addTaskLittle addTaskBig">
                <div class="titlePositionLittle">
                    <h1>Add Task</h1>
                    <!-- <img src="/img/close-icon-board-addtask.svg" class="closeEditTask" onclick="closeAddTaskForm()"> -->
                </div>
        
                <div class="formLeftAndRightFlex">
        
                    <div class="addTaskLeftLittle">
        
                        <div class="titleInputAddTaskBoard">
                            <label for="idTitleInputAddTask">Title
                                <p style="color: #FF8190;">*</p>
                            </label>
                            <input class="inputTitleAddTask" id="idTitleInputAddTask" type="text" autocomplete="off"
                                placeholder="Enter a title" required>
                            <div class="requestWarningInputField" style="display: none;">This field is required</div>
                        </div>
        
                        <div class="titleDescriptionAddTaskBoard">
                            <label for="idDescriptionAddTask">Description
                                <p style="color: #FF8190;">*</p>
                            </label>
                            <textarea class="inputTitleAddTask" id="idDescriptionAddTask" type="text" name="inputDesciption"
                                placeholder="Enter a Description" required></textarea>
                            <div class="requestWarningInputField" style="display: none;">This field is required</div>
                        </div>
        
        
                        <div class="titleSelectContactsAddTaskBoard">
                            <label for="idTitleSelectContactsAddTask">Assigned to</label>
                            <input class="inputTitleAddTask" id="idTitleSelectContactsAddTask" type="text" autocomplete="off"
                                placeholder="Select contacts to assign" onclick="toggleContactList()">
                        </div>
        
                        <div id="listSelectableContacts" class="listSelectableContacts" style="display: none;">
                            <ul>
        
                            </ul>
                        </div>
        
                        <div class="addedContactsProfilBadges" id="addedContactsProfilBadges" style="display: none;"></div>
                    </div>
        
        
                    <div class="dividerLittle"></div>
        
                    <div class="addTaskRightLittle">
        
                        <div class="titleDateAddTaskBoard">
                            <label for="idTitleDateAddTask">Due date
                                <p style="color: #FF8190;">*</p>
                            </label>
                            <input class="inputDateAddTask" id="idTitleDateAddTask" type="date" placeholder="tt/mm/jjjj"
                                required>
                            <div class="requestWarningInputField" style="display: none;">This field is required</div>
                        </div>
        
                        <div class="prioSection">
                            <div class="titlePrioSection">Prio</div>
                            <div class="prioButtonsBox" id="idPrioAddTask">
        
                                <div class="prioButtons" id="urgentButton" onclick="changeButtonStyle(this)"
                                    data-color="#FF3D00" data-text-color="white"
                                    data-img-src="/img/prio-icon-small-task-white.svg" data-priority="Urgent">
                                    Urgent
                                    <img src="/img/Urgent.png">
                                </div>
                                <div class="prioButtons" id="mediumButton" onclick="changeButtonStyle(this)"
                                    data-color="#FFA800" data-text-color="white" data-img-src="/img/prio-icon-medium-white.svg"
                                    data-priority="Medium">
                                    Medium
                                    <img src="/img/Medium.png">
                                </div>
                                <div class="prioButtons" id="lowButton" onclick="changeButtonStyle(this)" data-color="#7AE229"
                                    data-text-color="white" data-img-src="/img/prio-icon-low-white.svg" data-priority="Low">
                                    Low
                                    <img src="/img/Low.png">
                                </div>
                            </div>
                        </div>
        
                        <div class="categorySection">
                            <div class="titleCategoryAddTask">
                                <label for="idSelectCategoryAddTask">Category
                                    <p style="color: #FF8190;">*</p>
                                </label>
                                <select id="idSelectCategoryAddTask" class="selectContainerOv selectArrow" name="category"
                                    required="">
                                    <option disabled selected="" hidden="">Select task category</option>
                                    <option value="Technical Task">Technical Task</option>
                                    <option value="User Story">User Story</option>
                                </select>
                                <div class="requestWarningInputField" style="display: none;">This field is required</div>
                            </div>
                        </div>
        
        
                        <div class="subtaskSection">
                            <div class="titleSubtaskAddTask">
                                <label for="inputFieldSubtaskId">Subtask</label>
                                <div class="subtaskBox">
                                    <input onclick="openSubtasks()" class="inputTitleAddTask" id="inputFieldSubtaskId"
                                        type="text" autocomplete="off" placeholder="Add new subtask">
                                    <img onclick="openSubtasks()" class="subtaskImage" src="/img/subtasksIcon.png">
        
                                    <div class="closeCheckSubstask" style="display: none;">
                                        <img onclick="closeSubtasks()" src="/img/close-icon-subtasks.svg">
                                        <img src="/img/divider-icon-subtasks.svg">
                                        <img onclick="addNewSubtask()" src="/img/check-icon-subtasks.svg">
                                    </div>
                                </div>
                                <ul id="addedSubstaskList" class="addedSubstaskList"></ul>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- <p class="requiredFooter" style="color: #FF8190;">*<span style="color: #000;">This field is required</span></p> -->

                <div class="formFooter">
                   
        
                    <div class="footerButtonsAddTask"> 
                        
                        <p class="requieredField"><span>*</span>this field is required!</p>
                      <div class="buttonsFooter">
                        <button id="ClearButton" class="footerButtonClear" type="button">Clear
                            <img src="/img/clear-icon-footer-board-addTask.svg" class="clearIconFooter">
        
                        </button>

                        <button class="footerButtonCreateTask">Create Task
                            <img src="/img/check-icon-footer-board-addTask.svg" alt="">
                        </button></div>  

                        <!-- <button class="footerEditTask" type="submit" style="display: none;">OK
                            <img src="/img/check-icon-footer-board-addTask.svg" alt="">
                        </button> -->
        
        
                    </div>
                </div>
            </div>
        </form>

       
</div>


    
   


    
    <div id="addNewTaskMessage" class="addNewTaskMessage"></div>


</body>

</html>