<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/addTask.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/css/desktop_template.css">

    <script src="/js/main.js"></script>
    <script src="/js/addTask.js"></script>
    <title>Add Task</title>
    
</head>

<body>
    
    <div id="desktopTemplate">
    
        <!-- Header -->
        <div class="desktop-header">
            <span class="header-text">
                <span>Kanban Project Management Tool</span>
            </span>
            <div class="header-user-help">
                <div class="user-help">
                    <img src="/img/help.svg" />
                </div>
                <div class="header-userprofil">
                    <div class="user-profil-box">
                        <img src="/img/user-ellipse.svg" />
                        <span id="user-initials" class="user-initials">SM</span>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Navbar on left Side -->
    
        <div class="desktop-navbar">
    
            <div class="logo">
                <img src="/img/Join-icon-desktop.svg" />
            </div>
    
    
            <div class="desktop-navbar-menu">
    
                <a href="/index.html" onclick="showSummary()" class="menu-links">
                    <img src="/img/summary-icon.svg" />
                    <span>Summary</span>
                </a>
                <a href="/template/addTask_template.html" onclick="showAddTasks()" class="menu-links">
                    <img src="/img/addTask-icon.svg" />
                    <span>Add Task</span>
                </a>
                <a href="/template/board_template.html" onclick="showBoard()" class="menu-links">
                    <img src="/img/board-icon.svg" />
                    <span>Board</span>
                </a>
                <a href="/template/contacts_template.html" onclick="showContacts()" class="menu-links">
                    <img src="/img/contacts-icon.svg" />
                    <span>Contacts</span>
                </a>
            </div>
    
            <div class="navbar-footer">
                <a href="#" class="navbar-footer-links">
                    <span>Privacy Policy</span>
                </a>
                <a href="#" class="navbar-footer-links">
                    <span>Legal notice</span>
                </a>
            </div>
    
    
        </div>
    
    
    
    </div>

    <form id="addTaskFrom">
    <div class="addTask">
        <div class="titlePosition">
            <h1>Add Task</h1>
            </div>
        <div class="addTaskLeft">
          
            <h2>Title</h2>
            <input type="text">
            <h2>Description</h2>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <h2>Assigned to</h2>
            <input type="text" id="contactsInput" placeholder="Click to show contacts">

        </div>

        <div class="divider">

        </div>


        <div class="addTaskRight">
            
            <h2>Due Date</h2>
            <div class="inputATR">
                <input type="text" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="DD - MM - YYYY">
            </div>
            <h2>Prio</h2>
            <div class="prioButtonsBox">
                
                <div onclick="colorChange1()" id="btn1">
                    Urgent
                    <img src="/img/Urgent.png" alt="Image not found">
                </div>
                <div onclick="colorChange2()"  id="btn2">
                    Medium
                    <img src="/img/Medium.png" alt="Image not found">
                </div>
                <div onclick="colorChange3()" id="btn3">
                    Low
                    <img src="/img/Low.png" alt="Image not found">
                </div>
            </div>
            <h2>Category</h2>
            <select id="categoryInput">
            
                <option disabled>Categories</option>
                <option>Design</option>
            <option >Team Work</option>
            <option >Bussines</option>
            
            </select>
                
            <h2>Subtasks</h2>
            <div class="inputContainer">
            
                <input  type="text" placeholder="Add new subtask">
                <div class="subtaskImage">
                    
                <img  src="/img/subtasksIcon.png" alt="">
                </div>

            </div>
            <div class="addTaskButtonsRightSide">
                <button>Clear</button>
                <button>Create Task</button>
                
            </div>
        </div>

    </div>
</form>
</body>

</html>