<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="icon" href="/img/logo1.png">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/css/desktop_template.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <script src="/js/contacts.js"></script>
</head>

<body>
    <!-- <div id="desktopTemplate"> -->

        <!-- Header -->
        <!-- <div class="desktop-header">
            <span class="header-text">
                <span>Kanban Project Management Tool</span>
            </span>
            <div class="header-user-help">
                <div class="user-help">
                    <img src="/img/help.svg" />
                </div>
                <div class="header-userprofil">
                    <div class="user-profil-box">
                        <img src="/img/user-ellipse.svg" />
                        <span id="user-initials" class="user-initials">SM</span>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- Navbar on left Side -->

        <!-- <div class="desktop-navbar">

            <div class="logo">
                <img src="/img/Join-icon-desktop.svg" />
            </div>


            <div class="desktop-navbar-menu">

                <a href="/index.html" onclick="showSummary()" class="menu-links">
                    <img src="/img/summary-icon.svg" />
                    <span>Summary</span>
                </a>
                <a href="/template/addTask_template.html" onclick="showAddTasks()" class="menu-links">
                    <img src="/img/addTask-icon.svg" />
                    <span>Add Task</span>
                </a>
                <a href="/template/board_template.html" onclick="showBoard()" class="menu-links">
                    <img src="/img/board-icon.svg" />
                    <span>Board</span>
                </a>
                <a href="/template/contacts_template.html" onclick="showContacts()" class="menu-links">
                    <img src="/img/contacts-icon.svg" />
                    <span>Contacts</span>
                </a>
            </div>

            <div class="navbar-footer">
                <a href="#" class="navbar-footer-links">
                    <span>Privacy Policy</span>
                </a>
                <a href="#" class="navbar-footer-links">
                    <span>Legal notice</span>
                </a>
            </div>

        </div>

    </div> -->

    <div class="contacts-div">
        <div class="contacts-container">
            <button class="add-contacts-btn">Add new Contact <img src="/img/person_add.png"></button>

            <div class="contacts"> <!--später in js übertragen-->
                <div>
                    <p class="initial-letter">A</p>
                    <div class="line"></div>
                </div>
                <div id="contact" onclick="changeColor()" class="contact">
                    <div>
                        <p class="initial">AM</p>
                    </div>
                    <div class="initial-text">
                        <p>Alex Mustermann</p>
                        <p>alex@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-view">
            <div class="contact-header">
                <div class="contact-text">
                    <h2 class="text-1">Contacts</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="59" viewBox="0 0 3 59" fill="none"
                        style="min-width: 3px; min-height: 59px;">
                        <path d="M2 2V61" stroke="#29ABE2" stroke-width="3" stroke-linecap="round" />
                    </svg>
                    <p class="text-2">Better with a team</p>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>