
<div id="desktopTemplate">

    <div class="desktop-header">
        <img id="LogoImage" src="" alt="">
        <span class="header-text">
            <span class="text">Kanban Project Management Tool</span>
        </span>
        <div class="header-user-help">
            <div class="user-help" >
                <img  src="/img/help.svg" />
            </div>
            <div onclick="menuStyle()" class="header-userprofil">
                <div class="user-profil-box">
                    <img src="/img/user-ellipse.svg" />
                    <span id="user-initials" class="user-initials">GU</span>
                </div>
            </div>
        </div>
        <div class="menu" style="display:none;" id="style">
            <a href="###">Legal Notice</a>
            <a href="###">Privacy Policy</a>
            <a href="/index.html">Log Out</a>
        </div>
    </div>

    <div class="desktop-navbar">

        <div class="logo">
            <img src="/img/Join-icon-desktop.svg" />
        </div>


        <div class="desktop-navbar-menu">

            <a href="/template/summary_template.html" class="menu-links">
                <img src="/img/summary-icon.svg" />
                <span>Summary</span>
            </a>

            <a href="/template/addTask_template.html" class="menu-links">
                <img src="/img/addTask-icon.svg" />
                <span>Add Task</span>
            </a>

            <a href="/template/board_template.html" id="boardLink" class="menu-links">
                <img src="/img/board-icon.svg" />
                <span>Board</span>
            </a>

            <a href="/template/contacts_template.html" class="menu-links">
                <img src="/img/contacts-icon.svg" />
                <span>Contacts</span>
            </a>

        </div>

        <div class="navbar-footer">

            <a href="#" class="navbar-footer-links">
                <span>Privacy Policy</span>
            </a>

            <a href="#" class="navbar-footer-links">
                <span>Legal notice</span>
            </a>

        </div>
    </div>
</div>