<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/css/desktop_template.css">
    <link rel="stylesheet" href="/css/summary.css">

    <script src="/js/storage.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/w3IncludeHtml.js"></script>
    
    
</head>
<body onload="init()">
    
<div w3-include-html="/template/desktop_template.html"></div>

<div id="mainSummary" class="summary-main">

    <div class="summary-headline">
        <h1>Join 753</h1>
        <img src="/img/separator.svg" alt="">
        <span>Key Metrics at a Glance</span>
    </div>

    <div class="summary-flex">

        <div class="summary-container">



            <div class="summary-card-container">

            <div class="first-row">
                <a href="#" class="first-row-box left-box" onmouseover="this.querySelector('img').src='/img/pen-icon-whiteBg.svg';"
                    onmouseout="this.querySelector('img').src='/img/pen-icon.svg';">
                    <img src="/img/pen-icon.svg" alt="">
                    <div class="d-flex">
                        <div class="summary-count" id="todo-count">2</div>
                        <span>To-do</span>
                    </div>
                </a>
            
                <a href="#" class="first-row-box right-box"
                    onmouseover="this.querySelector('img').src='/img/checkmark-icon-whiteBg.svg';"
                    onmouseout="this.querySelector('img').src='/img/checkmark-icon.svg';">
                    <img src="/img/checkmark-icon.svg" alt="">
                    <div class="d-flex">
                        <div class="summary-count" id="done-count">2</div>
                        <span>Done</span>
                    </div>
                </a>
            </div>

                <div class="second-row">

                    <a href="#" class="second-row-box middle-box">
                        <img src="/img/urgend-icon-red.svg" alt="">
                        <div class="d-flex">
                            <div class="summary-count" id="deadline-count">1</div>
                            <span>Urgent</span>
                        </div>


                        <img src="/img/separator-long.svg" alt="">

                        <div class="date-deadline">
                            <div class="deadline" id="deadline">August 28, 2009</div>
                            <span>Upcoming Deadline</span>
                        </div>

                    </a>
                </div>

                <div class="third-row">

                    <a href="#" class="third-row-box left-box">
                        <div class="d-flex">
                            <div class="summary-count" id="tasks-count">2</div>
                            <span>Tasks in<br>Board</span>
                        </div>
                    </a>
                    <a href="#" class="third-row-box left-box">
                        <div class="d-flex">
                            <div class="summary-count" id="progress-count">2</div>
                            <span>Tasks in<br>Progress</span>
                        </div>
                    </a>
                    <a href="#" class="third-row-box left-box">
                        <div class="d-flex">
                            <div class="summary-count" id="feedback-count">2</div>
                            <span>Awaiting<br>Feedback</span>
                        </div>
                    </a>

                </div>
            </div>

        </div>

            <div class="greeting-user">
                <h2>Good morning,</h2>
                <span id="user-name-greet">Sofia Müller</span>
            </div>
    </div>

</div>


</body>

</html>