/* AddTask Form in Board-Page */

.addTaskFormPopUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
}

.popupFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.addTaskPopUp {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  color: black;
  height: 85%;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.addTaskPopUp.slide-in {
  animation: slide-in 0.2s ease-in-out forwards;
}

.addTaskPopUp.slide-out {
  animation: slide-out 0.2s ease-in-out forwards;
}

.addTaskLittle {
  padding: 40px 80px 60px 80px;
}

.addTaskLeftLittle {
  gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 48.25px;
}

.titlePositionLittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlePositionLittle h1 {
  color: #000;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  height: 78px;
}

.titlePositionLittle img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}

.titlePositionLittle img:hover {
  background-color: #eaeaea;
}

.titleInputAddTaskBoard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formLeftAndRightFlex {
  display: flex;
  width: 100%;
  width: 1000px;
  max-height: 588px;
  overflow-y: auto;
}

.formLeftAndRightFlex::-webkit-scrollbar {
  display: none;
}

.titleInputAddTaskBoard label {
  color: #2A3647;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.titleInputAddTaskBoard p {
  margin: 0;
}

.titleInputAddTaskBoard input {
  display: flex;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #D1D1D1);
  background: #FFF;
  width: auto;
}

.titleInputAddTaskBoard input:focus {
  outline: none !important;
  border: 1px solid #FF8190;
}

.inputTitleAddTask {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

::placeholder {
  color: var(--Style, #D1D1D1);
}

.requestWarningInputField {
  width: 119px;
  height: 12px;
  color: #FF8190;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.requestWarningInputField {
  margin-top: -4px;
}

.dividerLittle {
  height: 483px;
  width: 2px;
  background-color: #D1D1D1;
  display: block;
}

.addTaskRightLittle {
  gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 48.25px;
}

.titleDescriptionAddTaskBoard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleDescriptionAddTaskBoard label {
  color: #2A3647;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.titleDescriptionAddTaskBoard p {
  margin: 0;
}

.titleDescriptionAddTaskBoard textarea {
  display: flex;
  height: 120px;
  padding: 18px 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #D1D1D1);
  background: #FFF;
}

.titleDescriptionAddTaskBoard textarea:focus {
  outline: none !important;
  border: 1px solid #FF8190;
}

.titleDescriptionAddTaskBoard textarea:focus+.requestWarningInputField {
  display: block;
}

.titleSelectContactsAddTaskBoard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleSelectContactsAddTaskBoard label {
  color: var(--version-2-main-color, #2A3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 142px;
}

.titleSelectContactsAddTaskBoard input {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #D1D1D1);
  background: url(/Join/img/arrow_drop_down.svg) no-repeat scroll;
  background-position: right;
  width: auto;
}

.titleDateAddTaskBoard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleDateAddTaskBoard label {
  color: var(--version-2-main-color, #2A3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.titleDateAddTaskBoard p {
  margin: 0;
}

.titleDateAddTaskBoard input {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #D1D1D1);
  background: #FFF;
  position: relative;
  color: #000;
  width: auto;
}

.titleDateAddTaskBoard input:focus {
  outline: none !important;
  border: 1px solid #FF8190;
}

.titleDateAddTaskBoard input[type=date]:invalid::-webkit-datetime-edit {
  color: var(--Style, #D1D1D1);
}

.titleDateAddTaskBoard input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: right;
  background-size: 24px;
  bottom: 0;
  margin-right: 16px;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input {
  cursor: pointer;
}

.inputDateAddTask {
  color: var(--Style, #D1D1D1);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.prioSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.titlePrioSection {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.prioButtons {
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
  filter: none;
  width: 109px;
  height: 17px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.prioButtonsBox {
  gap: 16px !important;
  display: flex;
  width: 100%;
}

.prioButtons:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20) !important;
  cursor: pointer;
}

.categorySection {
  display: flex;
  flex-direction: column;
}

.titleCategoryAddTask {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleCategoryAddTask label {
  color: var(--version-2-main-color, #2A3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.titleCategoryAddTask p {
  margin: 0;
}

.titleCategoryAddTask select {
  padding: 12px 16px;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}

.titleCategoryAddTask option {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: #FFF;
}

.subtaskSection {
  display: flex;
  flex-direction: column;
}

.titleSubtaskAddTask {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleSubtaskAddTask label {
  color: var(--version-2-main-color, #2A3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.subtaskBox {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #D1D1D1);
  background: #FFF;
}

.subtaskBox input {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  width: 100%;
}

.subtaskBox input:focus {
  outline: none;
}

.subtaskBox:focus-within {
  border: 2px solid blue;
}

.closeCheckSubstask {
  display: flex;
}

.closeCheckSubstask img:hover {
  background-color: #edebeb;
  border-radius: 50%;
  cursor: pointer;
}

.addedSubstaskList span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: start;
}

.addedSubstaskList ul {
  padding-inline-start: 0px !important;
  height: 10px !important;
  list-style: disc !important;
}

.addedSubstaskList li {
  padding: 3px;
  border-radius: 10px !important;
}

.addedSubstaskList ul li:hover {
  padding: 8px;
}

.editDeleteSubtask {
  display: flex;
  cursor: pointer;
}

.confirmEditSubtask {
  display: none;
  cursor: pointer;
}

.formFooter {
  display: flex;
  background: rgb(255, 255, 255);
  bottom: 119px;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 100px;
}

.footerButtonsAddTask {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}

.footerButtonsAddTask button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--version-2-main-color, #2A3647);
}

.footerButtonCreateTask {
  background-color: #2A3647;
  color: #FFF;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 183px;
  height: 56px;
}

.footerButtonClear {
  color: var(--version-2-main-color, #2A3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 126px;
  height: 56px;
  background-color: #FFF;
}

.footerButtonCreateTask:hover {
  background-color: #29ABE2;
  border: none;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.footerButtonClear:hover {
  border: 2px solid #29ABE2;
  cursor: pointer;
  color: #29ABE2;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.20);
}

.footerButtonCreateTask svg:hover {
  fill: #29ABE2;
}

.listSelectableContacts {
  display: flex;
  flex-direction: column;
}

.listSelectableContacts ul {
  padding: 0;
  margin: 0;
}

.listSelectableContacts ul li {
  margin-bottom: 3px;
  border-radius: 10px;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact-line img {
  margin-right: 5px;
}

.contact-name {
  flex: 1;
  margin-inline-start: 1em;
}

.contact-line text {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.listSelectableContacts ul {
  list-style: none;
  height: 140px;
  overflow-x: hidden;
  overflow-y: scroll;

  .listSelectableContacts li {
    height: 30px;
    background: #ccc;
    border-bottom: black 1px solid;
    padding: 4px;
  }
}

.listSelectableContacts li:hover {
  background-color: rgb(209, 202, 202);
  cursor: pointer;
}

.addedContactsProfilBadges {
  display: flex;
  flex-wrap: wrap;
}

.addedContactsProfilBadges text {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}


/* RESPONSIVE */


@media (max-width: 1313px) {
  .formLeftAndRightFlex {
    flex-direction: column;
    width: auto;
  }

  .addTaskLeftLittle {
    width: 100%;
  }

  .addTaskRightLittle {
    width: 100%;
    margin-left: 0px;
  }

  .defaultFooter {
    background-color: white;
    height: 50px;
  }
}

@media (max-width: 640px) {
  .addTaskPopUp {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
  }

  .addTaskLittle {
    padding: 40px 20px 60px 20px;
  }
}

@media (max-width: 436px) {
  .footerButtonClear {
    width: 100px;
  }

  .footerButtonCreateTask {
    width: 135px;
  }

  .titlePositionLittle h1 {
    font-size: 39px;
    height: auto;
  }

  .footerButtonsAddTask {
    position: relative;
    bottom: 59px;
    background-color: #ffffff;
    width: auto;
  }
}

@media (max-width: 390px) and (min-height: 844px) {
  .footerButtonsAddTask {
    position: relative;
    bottom: 70px;
  }
}

@media (max-width: 375px) and (min-height: 667px) {
  .formLeftAndRightFlex {
    max-height: 457px;
  }
}