body {
  overflow: scroll;
  overflow-x: hidden;
}

.legalContent {
  margin-left: 300px;
  height: auto;
  margin-right: 40px;
  margin-top: 101px;
  padding-bottom: 150px;
}

.legalContent h1 {
  margin-bottom: 100px;
}

.legalContent h2 {
  margin-bottom: 0;
}

.legalContent img {
  position: sticky;
  left: 1657px;
  top: 149px;
  margin-top: 50px;
}

.backButton :hover {
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(218, 223, 223);
}

@media (max-width: 869px) {
  .legalContent {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 64px;
  }
}

@media (max-width: 600px)and (min-width: 301px) {

  .legalContent {
    margin-top: -32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .legalContent h1 {
    margin-bottom: 55px;
  }

  .legalContent span {
    height: 136px;
    display: block;
  }
}

