/* POPUP BIG TASK */

.BigTaskFormPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
}

.BigTaskPopUp {
    max-width: 550px;
    width: 427px;
    max-height: calc(100vh - 0px);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    background-color: white;
    overflow-x: hidden;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.BigTaskPopUp.slide-in {
    animation: slide-in 0.2s ease-in-out forwards;
}

.BigTaskPopUp.slide-out {
    animation: slide-out 0.1s ease-in-out forwards;
}

.BigTaskContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 40px 48px 40px;
    width: 100%;
    max-height: 800px;
    overflow: scroll;
    overflow-x: hidden;
}

.label-big-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.label-big-box span {
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 4px 16px;
    border-radius: 8px;
}

.label-big-box img {
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
}

.label-big-box img:hover {
    background-color: #eaeaea;
}

.titleAndDescriptionBigBox {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.titleAndDescriptionBigBox h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--black, #000);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
}

.titleAndDescriptionBigBox p {
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.dueDate {
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.dueDate span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.dueDate p {
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.priorityBigBox {
    display: flex;
    align-items: center;
    gap: 25px;
}

.selectedPriorityBigBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priorityBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.priorityBigBox p {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.assignedBigBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.assignedBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
}

.listSelectableContactsBigBox ul {
    list-style: none;
    max-height: 180px;
    margin: 0;
    padding-left: 0;
    overflow-x: hidden;

    .listSelectableContacts li {
        height: 30px;
        background: #ccc;
        border-bottom: black 1px solid;
        padding: 4px;
        display: flex;
        flex-direction: column;
    }
}

.contact-line-BigBox {
    display: flex;
    align-items: flex-start;
    padding: 3px;
    flex-direction: column;
}

.contact-line-BigBox span {
    display: flex;
    align-items: center;
}

.contact-badge-container {
    display: flex;
    gap: 12px;
}

.subtasksBigBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.subtasksBigBox span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
}

.addedSubstaskList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: scroll;
    height: 110px;
}

.subtaskBigBoxContent {
    display: flex;
    gap: 16px;
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.subtaskBigBoxContent:hover {
    cursor: pointer;
    background-color: #e7e1e1;
    border-radius: 8px;
}

.subtaskBigBoxContent span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.subtaskBigBoxContent img {
    padding-left: 8px;
}

.footerBigBox {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    position: sticky;
    bottom: 13px;
    background: #FFF;
}

.deleteBigBoxFooter,
.editBigBoxFooter {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.deleteBigBoxFooter span,
.editBigBoxFooter span {
    color: var(--version-2-main-color, #2A3647);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    display: inline-block;
}

.deleteIcon {
    background-image: url('/Join/img/delete-icon-subtasks.svg');
}

.deleteBigBoxFooter:hover .deleteIcon {
    background-image: url('/Join/img/delete-icon-subtasks-blue.svg');
}

.editIcon {
    background-image: url('/Join/img/edit-pen-icon-subtasks.svg');
}

.editBigBoxFooter:hover .editIcon {
    background-image: url('/Join/img/edit-pen-icon-subtasks-blue.svg');
}

.deleteBigBoxFooter:hover span,
.editBigBoxFooter:hover span {
    color: #29ABE2;
}


/* RESPONSIVE */

@media (max-width: 600px) and (min-width:430px) {
    .BigTaskPopUp {
        max-width: 550px;
        width: 344px;
        max-height: calc(76vh - 0px);
        border-radius: 30px;
        box-shadow: 0px 0px 4px 0px #00000029;
        display: flex;
        background-color: white;
        overflow-x: hidden;
    }

    .BigTaskContent {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 48px 40px 48px 40px;
        width: 344px;
        max-height: 700px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .label-big-box img {
        cursor: pointer;
        padding: 4px;
        border-radius: 50%;
    }

    .titleAndDescriptionBigBox {
        gap: 24px;
        display: flex;
        flex-direction: column;
    }

    .titleAndDescriptionBigBox h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: var(--black, #000);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        align-self: stretch;
    }

    .titleAndDescriptionBigBox p {
        color: var(--black, #000);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        align-self: stretch;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .dueDate {
        display: flex;
        align-items: center;
        align-items: flex-start;
        gap: 25px;
        align-self: stretch;
    }

    .dueDate span {
        color: var(--version-2-main-color, #2A3647);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .dueDate p {
        color: var(--black, #000);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .priorityBigBox {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .priorityBigBox span {
        color: var(--version-2-main-color, #2A3647);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .selectedPriorityBigBox {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .priorityBigBox p {
        color: var(--black, #000);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .assignedBigBox {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .assignedBigBox span {
        color: var(--version-2-main-color, #2A3647);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        align-self: stretch;
    }

    .listSelectableContactsBigBox ul {
        list-style: none;
        max-height: 180px;
        margin: 0;
        padding-left: 0;
        overflow-x: hidden;
    }

    .contact-line-BigBox {
        display: flex;
        align-items: flex-start;
        padding: 3px;
        flex-direction: column;
    }

    .subtasksBigBox {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
    }

    .subtasksBigBox span {
        color: var(--version-2-main-color, #2A3647);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        align-self: stretch;
    }

    .addedSubstaskList {
        display: flex;
        flex-direction: column;
        gap: 4px;
        overflow-y: scroll;
        height: 80px;
        margin-bottom: 20px;
        width: 332px;
        margin-bottom: 160px;

    }

    .subtaskBigBoxContent {
        display: flex;
        gap: 16px;
        width: 50%;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .subtaskBigBoxContent img {
        padding-left: 8px;
    }

    .footerBigBox {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        position: sticky;
        bottom: 13px;
        background: #ffffff00;
    }

    .deleteBigBoxFooter,
    .editBigBoxFooter {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    .deleteBigBoxFooter span,
    .editBigBoxFooter span {
        color: var(--version-2-main-color, #2A3647);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        display: flex;
        align-items: center;
    }

    .icon {
        width: 24px;
        height: 24px;
        background-size: cover;
        display: inline-block;
    }

}

@media (max-width: 435px) and (min-width:250px) {
    .BigTaskPopUp {
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
        border-radius: 0px;
    }

    .BigTaskContent {
        gap: 36px;
    }

    .titleAndDescriptionBigBox {
        gap: 24px;
        display: flex;
        flex-direction: column;
    }

    .titleAndDescriptionBigBox h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: var(--black, #000);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        align-self: stretch;
    }

    .subtaskBigBoxContent {
        width: auto;
    }

    .subtaskBigBoxContent img {
        padding-left: 0px;
    }

    .editIcon {
        background-image: url(/Join/img/edit-pen-icon-subtasks.svg);
    }

}