body {
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.privacyContent {
  margin-left: 280px;
  height: auto;
  margin-top: 101px;
  margin-right: 40px;
  padding-bottom: 100px;
}

.privacyContent h1 {
  margin-bottom: 100px;
}

.privacyContent img {
  position: sticky;
  left: 1657px;
  top: 149px;
  margin-top: 50px;
}

.backButton :hover {
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(218, 223, 223);
}

@media (max-width: 869px) {
 
  .privacyContent {
    margin-left: 40px;
    margin-top: 71px;
    padding-bottom: 170px;
  }
}

@media (max-width: 600px) {

  .privacyContent {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -28px;
  }
}
