<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="icon" href="/Join/img/logo1.png">
    <link rel="stylesheet" href="/Join/style.css">
    <link rel="stylesheet" href="/Join/fonts.css">
    <link rel="stylesheet" href="/Join/css/desktop_template.css">
    <link rel="stylesheet" href="/Join/css/board.css">
    <link rel="stylesheet" href="/Join/css/addTaskInBoardPage.css">
    <link rel="stylesheet" href="/Join/css/popUpBigTaskInBoardPage.css">
    <link rel="stylesheet" href="/Join/css/taskSmallBoxInBoardPage.css">
    <link rel="stylesheet" href="/Join/css/editTaskPopUpInBoard.css">
    <link rel="stylesheet" href="/Join/css/contacts.css">
    
    <script src="/Join/js/storage.js" defer></script>
    <script src="/Join/js/main.js" defer></script>
    <script src="/Join/js/summary.js" defer></script>
    <script src="/Join/js/boardHtmlTemplates.js" defer></script>
    <script src="/Join/js/w3IncludeHtml.js" defer></script>
    <script src="/Join/js/board.js" defer></script>
    <script src="/Join/js/popUpBigTaskInBoard.js" defer></script>
    <script src="/Join/js/subtasksInAddTaskBoardPage.js" defer></script>
    <script src="/Join/js/contactListAddTaskInBoardPage.js" defer></script>
    <script src="/Join/js/contacts.js" defer></script>
    <script src="/Join/js/editTaskInBoard.js" defer></script>
    <script src="/Join/js/addTask.js" defer></script> 
    
</head>

<body onload="init('board')"> 
    
    <div w3-include-html="/Join/template/desktop_template.html"></div>

        <div id="mainBoard" class="board-main">

            <div class="board-heading">
                <div class="board-heading-left">
                    <h1>Board</h1>
                </div>

                <div class="board-heading-right">

                    <div class="search-box">
                        <input placeholder="Find Task" id="search-Task" onkeyup="searchTask()" type="text">
                        <div class="search-btn">
                            <img src="/Join/img/separator-gray.svg" alt="">
                            <img class="search-svg" src="/Join/img/search.svg" alt="">
                        </div>
                    </div>

                    <button class="addTask-btn" onclick="addNewTaskBoard('todo')">
                        <span>Add Task</span>
                        <img src="/Join/img/add-icon-board.svg" alt="">
                    </button>
                </div>
            </div>


            <div class="board-columns">

                <div class="todo-column">
                    <div class="column-title">
                        <span>To do</span>
                        <img src="/Join/img/plus-icon-board-column.svg" class="changeableImage" onclick="addNewTaskBoard('todo')">
                    </div>

                    <div class="column-content drag-area" id="todo" ondrop="moveTo('todo')"
                        ondragleave="removeHighlight('todo')" ondragover="allowDrop(event); highlight('todo')">

                        <div class="placeholder-tasks-todo">
                            <span>No tasks To do</span>
                        </div>
                    </div>
                </div>

                <div class="progress-column">
                    <div class="column-title">
                        <span>In progress</span>
                        <img src="/Join/img/plus-icon-board-column.svg" class="changeableImage" onclick="addNewTaskBoard('inProgress')">
                    </div>

                    <div class="column-content drag-area" id="inProgress" ondrop="moveTo('inProgress')"
                        ondragleave="removeHighlight('inProgress')"
                        ondragover="allowDrop(event); highlight('inProgress')">

                        <div class="placeholder-tasks-progress">
                            <span>No tasks in progress</span>
                        </div>                       
                    </div>
                </div>

                <div class="feedback-column">
                    <div class="column-title">
                        <span>Await feedback</span>
                        <img src="/Join/img/plus-icon-board-column.svg" class="changeableImage" onclick="addNewTaskBoard('awaitFeedback')">
                    </div>

                    <div class="column-content drag-area" id="awaitFeedback" ondrop="moveTo('awaitFeedback')"
                        ondragleave="removeHighlight('awaitFeedback')"
                        ondragover="allowDrop(event); highlight('awaitFeedback')">

                        <div class="placeholder-tasks-feedback">
                            <span>No tasks Await feedback</span>
                        </div>
                    </div>
                </div>

                <div class="done-column">
                    <div class="column-title">
                        <span>Done</span>

                    </div>

                    <div class="todo-column-content drag-area" id="done" ondrop="moveTo('done')"
                        ondragleave="removeHighlight('done')" ondragover="allowDrop(event); highlight('done')">

                        <div class="placeholder-tasks-done">
                            <span>No tasks Done</span>
                        </div>
                    </div>
                    <span id="spacer"></span>
                </div>
            </div>
             
        </div>

<!-- AddTask Form in Board-Page -->

<div class="addTaskFormPopUp" style="display: none;">
    <div class="popupFlex">
        <div id="importAddTaskForm"></div>
    </div>
</div>

<div id="bigTaskBoxContainer"></div>


<!-- EDIT TASK  -->

<div id="editTaskBoxContainer" style="display: none;">

    <div class="editBigTaskFormPopUp" id="editBigTaskFormPopUp">
    <div class="editPopUpFlex">
        <div id="editTaskDisplay"></div>
    </div>
    </div>
</div>

<div id="addNewTaskMessage" class="addNewTaskMessage"></div>

</body>

</html>


